@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F2F2F2;
}

header {
    background-color: #404EED;

    display: flex;
    align-items: center;

    height: 89px;
}

header img {
    margin-left: calc((100vw - 50%) / 9);
}

.model-criation {
    background-color: beige;
    display: flex;
    justify-content: space-between;
}

.column-one-choose-options {
    background-color: #FCFCFC;
    width: calc(100vw - 50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 39px 0;
}

.big-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 65%;
    height: 100%;

    color: #232323;
}

.big-line h3 {
    font-size: 18px;
    font-weight: 400;

    margin-top: 10px;
}

.big-line input {
    background-color: #F2F2F2;
    
    border: none;
    border-radius: 10px;
    
    margin: 10px 0 24px 0;
    padding-left: 16px;

    font-size: 14px;
    font-weight: 400;
    color: #818181;

    height: 40px; 
}

.big-line button {
    background-color: #C4C4C4;

    border: none;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 400;
    color: #FCFCFC;

    height: 40px;
}


.small-lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 100%;
    margin: 10px 0;
}

.small-lines div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.small-lines div span {
    background-color: #F2F2F2;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    
    margin-bottom: 8px;
    border-radius: 50%;
    border: 0.5px solid #C4C4C4;
}

.small-lines div p {
    font-size: 18px;

    text-align: center;
}


.column-two-image-model {
    background-color: #404EED;
    width: calc(100vw - 50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.column-two-image-model img {
    width: 70%;
    height: 90%;
}

.last-orderes {
    padding: 31px 0 31px 0;
    
    color: #232323;
}

.last-orderes h2 {
    font-size: 24px;
    font-weight: 400;

    margin-left: calc((100vw - 50%) / 6.7);
    margin-bottom: 15px;
}

.line-last-orderes {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;

    margin-left: calc((100vw - 50%) / 6.7);
}

.line-last-orderes div {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 16px 11px;
}

.line-last-orderes img {
    width: 180px;
    height: 180px;

    margin-bottom: 7px;
}




/*-------------------- USED IN JS -------------------- */
.small-lines span.border-circle-blue {
    border: 3px solid #404EED;
}

.big-line button.button-blue {
    background-color: #404EED;
}




/* -------------------- MOBILE -------------------- */
@media (max-width: 930px) {
    .model-criation {
        flex-direction: column-reverse;
    }

    .column-one-choose-options {
        width: 100%;

        padding: 0;
    }

    .column-one-choose-options div {
        padding: 0 calc((100vw - 50%) / 6.7);
    }

    .column-two-image-model {
        width: 100%;

        padding: 15px;
    }

    .big-line {
        width: 100%;
    }

    .big-line div {
        padding: 0;
    }

    .small-lines {
        justify-content: space-evenly;
    }

    .last-orderes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .line-last-orderes {
        justify-content: center;

        margin: 0;
    }

    .line-last-orderes div {
        width: 100%;
    }
}